<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div class='head'>
      <figure>
        <img src="https://clikauto.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.f337b21c.png&w=828&q=75"  class="figure-img img-fluid rounded">
      </figure>     
    </div>

    <div class='formContainer'>
      <div class='form'>
        <h3 class='title'>Ingresa el número de teléfono:</h3>
          <%= form_with(url: "/?phone=#{params[:phone]}", method: "get", local: true) do |form| %>
          <div class="field">
            <%= form.telephone_field :phone, placeholder: 'xxx-xxx-xxxx', class: 'lebel form-control' %>
          </div>
          <div class="actions">
            <%= form.submit 'Buscar Lead', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class='listContainer'>

      <% count_results_ventas = @arrayVentas.count %>
      <% count_results_leadName = @arrayLeadName.count %>

      <% if @phone_number %>

        <div class='listTitle'>
         
         <h4>Leads encontrados:</h4>

        <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Tipo Lead</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
        <% if count_results_ventas > 0 %>
            <% @arrayVentas.each_with_index do |value, index| %>
              <tr>
                <td><%= @arrayLeadName[index] %></td>
                <td><a target='_blank' href="https://clikauto.creatio.com/0/Nui/ViewModule.aspx#CardModuleV2/ClikAutoLead1Page/edit/<%= value %>">Ver lead</a></td>
              </tr>
            <% end %>

            <%#  /////////////////  Disabled TOMAS /////////////////  %>

            <% @arrayTomas.each do |value| %>
              <tr>
                <td>Tomas</td>
                <td><a target='blank_' href="https://clikauto.creatio.com/0/Nui/ViewModule.aspx#CardModuleV2/LeadPageV2/edit/<%= value %>">Lead Tomas</a></td>
              </tr>
            <% end %>
            <%#  //////////////////////////////////  %>

          <% elsif count_results_ventas > 0 && count_results_tomas == 0 %>
            <% if count_results_ventas == 1 %>
              <% redirect_to "https://clikauto.creatio.com/0/Nui/ViewModule.aspx#CardModuleV2/ClikAutoLead1Page/edit/#{@arrayVentas[0]}" %>
            <% else %>
              <% @arrayVentas.each do |value| %>
                <tr>
                  <td>Ventas</td>
                  <td><a target='blank_' href="https://clikauto.creatio.com/0/Nui/ViewModule.aspx#CardModuleV2/ClikAutoLead1Page/edit/<%= value %>">Lead ventas</a></td>
                </tr>
              <% end %>
            <% end %>
          <% else %>
          <%#  /////////////////  Disabled TOMAS /////////////////  %>
            <% if count_results_tomas == 1 %>
              <% redirect_to "https://clikauto.creatio.com/0/Nui/ViewModule.aspx#CardModuleV2/LeadPageV2/edit/#{@arrayTomas[0]}" %>
            <% elsif count_results_tomas == 0 %>
              <tr>
                <td colspan="2">
                  <p class="noEncontrado">No encontramos registros en el repositorio en Creatio, con este número <%= @phone_number %>, intenta buscarlo desde la sección de <a target='blank_' href='https://clikauto.creatio.com/0/Nui/ViewModule.aspx#SectionModuleV2/LeadSectionV2' >Leads</a></p>
                </td>
              </tr>
            <% else %>
              <% @arrayTomas.each do |value| %>
                <tr>
                  <td>Tomas</td>
                  <td><a target='blank_' href="https://clikauto.creatio.com/0/Nui/ViewModule.aspx#CardModuleV2/LeadPageV2/edit/<%= value %>">Lead Tomas</a></td>
                </tr>
              <% end %>
            <% end %>

        <% end %>
        </tbody>
        </table>

        </div>
        <% end %>

    </div>
  </body>
</html>
